body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: blanchedalmond;
}

header {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #1c7bd3;
}

h2 {
    color: red;
}

p {
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
    
